<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALyrtJGQoZ0lqP8bhKMyMzUVoYD-Cx2LU</string>
	<key>GCM_SENDER_ID</key>
	<string>271400877679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vincentiusKos.sampleProject</string>
	<key>PROJECT_ID</key>
	<string>samplemobileappp</string>
	<key>STORAGE_BUCKET</key>
	<string>samplemobileappp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:271400877679:ios:f43627e0a8c3f06b95d79a</string>
</dict>
</plist>
